@model HomeConcertDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row m-3">
    <div class="col-6">
        <img src="@Model.Concertimage" alt="Concert Image" class="mt-3"/>
    </div>
    <div class="col-6">
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConcertId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ConcertId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ConcertName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ConcertName)
                </dd>
                <dt class="col-sm-2">
                    Date
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ConcertDateTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VenueName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VenueName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VenueAddress)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VenueAddress)
                </dd>
                <dd class="col-sm-10">
                    <div><img src="@Model.ArtistImage" class="rounded-circle img-fluid" style="height:150px; width: 150px" /></div>
                </dd>
                <dt class="col-sm-2">
                    
                </dt>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ArtistName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ArtistName)
                </dd>
                <div class="mt-3">
                <a class="btn btn-success mt-3" asp-action="AvailableTickets" asp-controller="Home" asp-route-id="@Model.ConcertId">See Available Tickets</a>
                </div>
                
            </dl>
        </div>
    </div>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConcertId }) |
    <a asp-action="Index">Back to List</a>
</div>
